.bg-pattern1 {
  background-color: #fff8fb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23a1164e' fill-opacity='0.04'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-primary {
  background-color: #a1164e !important;
}

h1 {
  font-size: 1.75rem !important;
  text-transform: uppercase !important;
}

h2 {
  font-size: 1.3rem !important;
}

a {
  color: #a1164e !important;
  transition: background-size 0.25s ease-in;
}

a:hover, a:focus {
  background-size: 100% 88%;
  background-color: #ff247c40;
  text-decoration: none;
  color: #212529;
}

.dropdown-item:hover {
  background-color: #ff247c14 !important;
}

/* NAVBAR */
.nav-custome {
  padding-top: 0;
  padding-bottom: 5px;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1);
}

.linku {
  color: #212529 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.linku:hover {
  border-bottom: solid 3px #ff247c !important;
  padding-bottom: 16.5px;
  background: #f5f5f5;
  padding-bottom: -3px;
}

.linku:focus {
  border-bottom: solid 3px #a1164e !important;
  padding-bottom: 16.5px;
  background: #f5f5f5;
  padding-bottom: -3px;
}

.dropdown-menu {
  margin-top: 0px !important;
  border-radius: 0px !important;
}

/* MEGAMENU */

.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}

/* BREADCRUMB */

.breadcrumbx {
  background-color: transparent !important;
  font-size: 10pt;
}

.breadcrumbx-item + .breadcrumb-item::before {
  color: #a1164e !important;
}

.breadcrumbx-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

/* HOMEPAGE */

.underline-magical {
  background-image: linear-gradient(120deg, #8fd3f4 0%, #84fab0 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  color: #212529;
  transition: background-size 0.25s ease-in;
}

.underline-magical:hover {
  background-size: 100% 88%;
  text-decoration: none;
  color: #212529;
}

/* speakers */
.speaker-img {
  height: 200px;
  width: 200px;
  border: 1px solid #e5e5e5;
  border-radius: .5rem;
}
.speaker-info {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.speaker-name {
  font-size: .9rem;
  font-weight: 500;
  line-height: .5;
  font-family: "Montserrat", Arial, "Calibri", sans-serif;
}
.speaker-aff {
  font-size: .8rem;
  font-weight: 400;
  font-family: "Open Sans", Arial, "Calibri", sans-serif;
}
/* FOOTER */
.credit {
  font-size: .8rem;
  font-weight: 400;
  text-align: justify;
  font-family: "Open Sans", Arial, "Calibri", sans-serif;
}